.navbar-brand {
    font-size: 200%;
    margin-left: 50px;
}

.collapse {
    margin-right: 25px;
}

.pic {
    width: 90%;
    /* height: 50%; */
    border-radius: 5px;
}

.intro {
    width: 80%;
}

.work-1 {
    background-image: url("./images/project-1.jpg");
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 200px;
    border: 3px solid grey;
}

.work-2 {
    background-image: url("./images/work-1.png");
    background-size: cover;
    background-position: top;
    width: 80%;
    height: 200px;
    border: 3px solid grey;
}

.work-3 {
    background-image: url("./images/work-2.png");
    background-size: cover;
    background-position: top;
    width: 80%;
    height: 200px;
    border: 3px solid grey;
}

.work-4 {
    background-image: url("./images/work-3.jpg");
    background-size: cover;
    background-position: top;
    width: 80%;
    height: 200px;
    border: 3px solid grey;
}

.work-5 {
    background-image: url("./images/work-4.jpg");
    background-size: cover;
    background-position: top;
    width: 80%;
    height: 200px;
    border: 3px solid grey;
}

.work-6 {
    background-image: url("./images/work-5.jpg");
    background-size: cover;
    background-position: top;
    width: 80%;
    height: 200px;
    border: 3px solid grey;
}

.work-7 {
    background-image: url("./images/work-6.jpg");
    background-size: cover;
    background-position: top;
    width: 80%;
    height: 200px;
    border: 3px solid grey;
}

.work-8 {
    background-image: url("./images/work-7.jpg");
    background-size: cover;
    background-position: top;
    width: 80%;
    height: 200px;
    border: 3px solid grey;
}